extends layout

block content
  div(class="main")
    h1 Who are going to clean this week?
    p These guys will take care of the SimbioDB office this week. It doesn't mean you don't have to help them. Don't be dirty and collaborate, it's easy and free.
    div.list
      ul
        - for (var i = 0, l = rows.length; i < l; ++i) {
          if i !== 0
            li.special +
          li
            img(src="/img/#{ rows[i].photo || "default" }.png", title="#{ rows[i].alias }", class="avatar")
            p(class="bold center") #{ rows[i].alias }
            - if (rows[i].twitter) {
            p.center
              a(href="http://twitter.com/#{ rows[i].twitter }", target="_blank") @#{ rows[i].twitter }
            - }
        - }
    div.bottom
      p.small Eloy Gonzalo 27, 2ยบ floor, 6th & 7th door